.scrolling {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  width: 100%;
}

.card {
  display: inline-block;
  margin-left: 3em;
  width: 33%;
}

.startRecipe {
  bottom: 0;
  position: fixed;
}
