@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap') ;

.filters {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 20px;
}

.favorite-cards {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.card {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  margin-bottom: 5em;
  width: 100vw;
}

a {
  color: white;
  font-family: Roboto , sans-serif;
  text-decoration: none;
}
