.buttons-filters {
  align-items: space-between;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
  margin-bottom: 0.5em;
  margin-top: 0.5em;
  width: 90%;
}

.buttons-filters button {
  margin: 0.3em;

}

.card-radio {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

